@layer footer {
	.footer {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding-top: 2rem;
		padding-bottom: 1rem;
		padding-inline: 4rem;
		border-top: 1px solid var(--secondary);

		& .footer__social {
			position: absolute;
			top: -1rem;
			left: calc(50% - 7.5rem);
			z-index: 1;
			padding-inline: 2rem;
			background: linear-gradient(to bottom, rgba(61, 62, 66, 1) 0%, rgba(61, 62, 66, 1) 50%, rgba(49, 51, 59, 1) 50%, rgba(49, 51, 59, 1) 50%, rgba(49, 51, 59, 1) 100%);
		}

		& .footer__download {
			position: relative;
			display: flex;
			align-items: baseline;
			gap: .5rem;
			margin-top: 1rem;
			padding-block: .5rem;
			padding-inline: 1.5rem;
			border-radius: 4px;
			font-weight: 500;
			text-decoration: none;
			overflow: hidden;
			color: var(--primary);
			background-color: var(--secondary);

			&:after {
				content: "";
				position: absolute;
				top: -50px;
				left: -75px;
				z-index: 1;
				transform: rotate(35deg);
				width: 50px;
				height: 155px;
				opacity: .2;
				background-color: var(--white);
				transition: all 550ms cubic-bezier(.19, 1, .22, 1);
			}

			&:hover {
				&:after {
					left: 120%;
				}
			}

			.footer__icon {
				width: 1.2rem;
				height: 1.2rem;
			}
		}

		& .footer__copy {
			margin-bottom: unset;
			font-size: .8rem;
			font-weight: 500;
			text-align: center;
			color: var(--white);
		}

		& .footer__link {
			position: absolute;
			top: 70%;
			left: 97%;
			display: inline-block;
			width: 2rem;
			height: 2rem;

			&:hover {
				opacity: .9;
			}
		}
	}
}
