/*Variables*/
:root {

	/*Font Weight*/
	--font-superbold: 800;
	--font-extrabold: 700;
	--font-bold: 600;
	--font-bolder: 500;
	--font-normal: 400;
	--font-light: 200;

	/*Colors*/
	--bg-primary: #bd5d38;
	--opacity-white: rgba(255, 255, 255, 0.7);
	--light-gray: #dee2e6;
	--error-red: #DC143C; /*crimson*/

	/*Text colors*/
	--white-color: #FFFFFF;
	--header-color: #343a40;
	--text-color: #868e96;
	--text-address-color: #757575;
	--text-address-email-color: #A96347;
	--icon-color: #495057;
}

/*Font faces*/

/* saira-extra-condensed-regular - latin */
@font-face {
	font-family: 'Saira Extra Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Saira ExtraCondensed Regular'), local('SairaExtraCondensed-Regular'),
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-regular.svg#SairaExtraCondensed') format('svg'); /* Legacy iOS */
}

/* saira-extra-condensed-500 - latin */
@font-face {
	font-family: 'Saira Extra Condensed';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Saira ExtraCondensed Medium'), local('SairaExtraCondensed-Medium'),
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-500.woff') format('woff'), /* Modern Browsers */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-500.svg#SairaExtraCondensed') format('svg'); /* Legacy iOS */
}

/* saira-extra-condensed-600 - latin */
@font-face {
	font-family: 'Saira Extra Condensed';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Saira ExtraCondensed SemiBold'), local('SairaExtraCondensed-SemiBold'),
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-600.woff') format('woff'), /* Modern Browsers */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-600.svg#SairaExtraCondensed') format('svg'); /* Legacy iOS */
}

/* saira-extra-condensed-700 - latin */
@font-face {
	font-family: 'Saira Extra Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Saira ExtraCondensed Bold'), local('SairaExtraCondensed-Bold'),
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-700.woff') format('woff'), /* Modern Browsers */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/SairaExtraCondensed/saira-extra-condensed-v3-latin-700.svg#SairaExtraCondensed') format('svg'); /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/OpenSans/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/OpenSans/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/OpenSans/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/OpenSans/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/OpenSans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/OpenSans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/OpenSans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/OpenSans/open-sans-v15-latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('../fonts/OpenSans/open-sans-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/OpenSans/open-sans-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/OpenSans/open-sans-v15-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/OpenSans/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/OpenSans/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/OpenSans/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/OpenSans/open-sans-v15-latin-600italic.eot'); /* IE9 Compat Modes */
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('../fonts/OpenSans/open-sans-v15-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/OpenSans/open-sans-v15-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-600italic.woff') format('woff'), /* Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/OpenSans/open-sans-v15-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/OpenSans/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('../fonts/OpenSans/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/OpenSans/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/OpenSans/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/OpenSans/open-sans-v15-latin-700italic.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('../fonts/OpenSans/open-sans-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/OpenSans/open-sans-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
		url('../fonts/OpenSans/open-sans-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/OpenSans/open-sans-v15-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/*All elemets*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth; /*smooth scroling*/
}

/*Selection colors (easy to forget)*/
::selection {
  background: #eee;
}

::-moz-selection {
  background: #eee;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/*Browser scroller bar*/
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background-color: var(--header-color);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--text-color);
}

html, body {
	width: calc(100vw - 10px); /*Calcualte working width of the page (10px widtho of scrollbar)*/
	-webkit-tap-highlight-color: #eee;
	/*overflow-x: hidden;*/
}

/*Main grid wrapper*/
.grid {
	display: grid;
	grid-template-columns: 270px 1fr;
	grid-template-rows: 100px 1fr auto;
	margin-top: env(safe-area-inset-top);
	margin-left: env(safe-area-inset-left);
	margin-bottom: env(safe-area-inset-bottom);
	margin-right: env(safe-area-inset-right);
}

/*Header Section*/
.grid__header {
	grid-column: span 1;
	grid-row: span 3;
	min-height: 100vh;
	padding: 15px;
	background-color: var(--bg-primary);
}

/*Navigation*/
.grid__header--nav {
	position: sticky; /*Sticky works only without overflow*/
	top: 15vh;
	width: 100%;
}

/*Profile image*/
.grid__header--nav--imagelink {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto 30px auto;
	border: 8px solid rgba(255, 255, 255, .2);
	border-radius: 50%;
	background-image: url('../images/profile/goran.webp');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.grid__header--nav--imagelink.active  {
	border-color: rgba(255, 255, 255, .5);
}

/*Navigations links*/
.grid__header--nav--item {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40px;
	padding: 2px;
	font-size: 1em;
	font-weight: var(--font-bold);
	text-decoration: none;
	text-transform: uppercase;
	color: var(--opacity-white);
	opacity: 0.5;
	transition: color 200ms ease-in;
}

.grid__header--nav--item--icon.pdf, .grid__footer--link--download--icon.pdf {
	display: inline;
	width: 15px;
	height: 20px;
	margin-left: 2%;
	background-image: url('../images/icons/addition/pdf.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/*Mobilenavigation buttno*/
.grid__header--nav--item--mobile {
	display: none;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 5% 6% 0 0;
	float: right;
	font-size: 4em;
	color: var(--opacity-white);
	transition: color 300ms ease-in;
}

.grid__header--nav--item--mobile.active-mobile div {
	width: 50px;
}

.grid__header--nav--item:hover {
	color: rgba(255, 255, 255, 1);
}

.grid__header--nav--item--mobile--bar {
	height: 5px;
	border-radius: 25px;
	background-color: white;
	transition: all 400ms ease-in-out;
}

.grid__header--nav--item--mobile--bar.one {
	width: 45px;
}

.grid__header--nav--item--mobile--bar.two {
	width: 25px;
}

.grid__header--nav--item--mobile--bar.three {
	width: 35px;
}

.active, .active-mobile {
	color: var(--white-color);
	opacity: 1;
}

.open {
	display: flex !important;
	background-color: rgb(189,93,56, .95);
}

/*Main content*/
.grid__content {
	grid-column: 2;
	grid-row: 2 / 3;
}

.resume__section {
	width: 100%;
	min-height: 90vh;
	padding: 10% 5% 5% 5%;
	border-bottom: 1px solid var(--light-gray);
}

/*About Section*/
.about {
	padding-top: 0;
}

.about__title--animation {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.about__title--animation:before, .about__title--animation:after {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 10;
	content: '';
	-webkit-clip-path: polygon(33% 1%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(33% 1%, 100% 0, 100% 100%, 0% 100%);
}

.about__title--animation:before {
	background-color: rgba(189, 93, 56, .8);
	animation: showText 1200ms forwards;
}

.about__title--animation:after {
	background-color: rgba(0, 0, 0, .8);
	animation-delay: 200ms;
	animation: showText 900ms forwards;
}

.about__heading {
	opacity: 0;
	font-family: 'Saira Extra Condensed', sans-serif, Arial;
	font-size: 6em;
	font-weight: var(--font-extrabold);
	text-transform: uppercase;
	animation: animateText 700ms forwards;
	animation-delay: 250ms;
}

.about__heading--highlight {
	font-family: 'Saira Extra Condensed', sans-serif, Arial;
	color: var(--bg-primary);
}

.about__address {
	font-family: 'Saira Extra Condensed', sans-serif, Arial;
	margin-bottom: 7%;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: var(--font-bolder);
	color: var(--text-address-color);
}

.about__address--email {
	text-transform: lowercase;
	text-decoration: none;
	color: var(--text-address-email-color);
}

.about__address--email:hover {
	text-decoration: underline;
	opacity: .95;
}

.about__subheading {
	margin-bottom: 7%;
	font-size: 1.5em;
	font-weight: var(--font-bolder);
	text-align: justify;
	color: var(--text-color);
}

.about__social {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
}

.about__social--link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin-right: 2.5%;
	border-radius: 50%;
	text-decoration: none;
	background-color: var(--icon-color);
	transition: background-color 300ms ease-in;
}

.about__social--link--icon {
	width: 60%;
	height: 60%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 400ms ease-in-out;
}

.about__social--link--icon.linkedin {
	background-image: url('../images/icons/social-media/linkedin.svg');
}

.about__social--link--icon.skype {
	background-image: url('../images/icons/social-media/skype.svg');
}

.about__social--link--icon.envelope {
	background-image: url('../images/icons/social-media/envelope.svg');
}

.about__social--link--icon.github {
	background-image: url('../images/icons/social-media/github.svg');
}

.about__social--link--icon.twitter {
	background-image: url('../images/icons/social-media/twitter.svg');
}

.about__social--link--icon.facebook {
	background-image: url('../images/icons/social-media/facebook.svg');
}

.about__social--link:hover {
	background-color: var(--bg-primary);
}

.about__social--link:hover .about__social--link--icon {
	transform: scale(1.1);
}

/*Experience, Education, Projects, Skills*/
.experience__item, .education__item, .projects__item, .skills__item, .interests__item, .contact__item {
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.experience__item--content, .education__item--content {
	width: 70%;
}

.experience__heading, .experience__item--content--header, .experience__item--content--subheader,
.education__heading, .education__item--content--header, .education__item--content--subheader,
.projects__heading, .skills__heading, .skills__item--content--subheader, .interests__heading,
.contact__heading, .contact__item--content--subheader {
	font-family: 'Saira Extra Condensed', sans-serif, Arial;
	font-size: 4em;
	font-weight: var(--font-extrabold);
	text-transform: uppercase;
	color: var(--header-color);
}

.experience__item--content--header, .education__item--content--header {
	font-size: 2em;
	font-weight: var(--font-bold);
}

.experience__item--content--subheader, .education__item--content--subheader, .skills__item--content--subheader, .contact__item--content--subheader {
	display: inline-block;
	margin-bottom: 30px;
	font-size: 1.5em;
	font-weight: var(--font-bolder);
	color: var(--text-color);
}

.experience__item--content--text, .education__item--content--text, .education__item--content--grade, .projects__item--text, .interests__item--text {
	text-align: justify;
	color: var(--text-color);
}

.experience__item--date, .education__item--date {
	width: 30%;
	height: 22vh;
	text-align: right;
	color: var(--bg-primary);
}

/*Skills*/
.skills__item--content {
	width: 100%;
}

.skills__item--content--tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-bottom: 50px;
}

.skills__item--content--tools--i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 50px;
	margin-bottom: 3%;
}

.skills__item--content--tools--i:before {
	display: block;
	width: 25px;
	height: 25px;
	opacity: 0;
	position: absolute;
	z-index: 1;
	transform: translateY(0px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: ''; /*Important for displaying star*/
	transition: all 400ms ease-in-out;
}

.skills__item--content--tools--i:hover:before {
	transform: translateY(-40px);
	opacity: 1;
}

/*HTML5*/
.skills__item--content--tools--i:nth-child(1):before {
	background-image: url('../images/icons/rating/star-5.svg');
}

/*CSS3*/
.skills__item--content--tools--i:nth-child(2):before {
	background-image: url('../images/icons/rating/star-5.svg');
}

/*Pug Template Engine*/
.skills__item--content--tools--i:nth-child(3):before {
	background-image: url('../images/icons/rating/star-5.svg');
}

/*SASS*/
.skills__item--content--tools--i:nth-child(4):before {
	background-image: url('../images/icons/rating/star-5.svg');
}

/*JavaScript*/
.skills__item--content--tools--i:nth-child(5):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*VueJS*/
.skills__item--content--tools--i:nth-child(6):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*NodeJS*/
.skills__item--content--tools--i:nth-child(7):before {
	background-image: url('../images/icons/rating/star-3.svg');
}

/*Gulp*/
.skills__item--content--tools--i:nth-child(8):before {
	background-image: url('../images/icons/rating/star-5.svg');
}

/*Webpack*/
.skills__item--content--tools--i:nth-child(9):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*Firebase*/
.skills__item--content--tools--i:nth-child(10):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*PHP*/
.skills__item--content--tools--i:nth-child(11):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*MySql*/
.skills__item--content--tools--i:nth-child(12):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*Laravel*/
.skills__item--content--tools--i:nth-child(13):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*API*/
.skills__item--content--tools--i:nth-child(14):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*PWA*/
.skills__item--content--tools--i:nth-child(15):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*GIT*/
.skills__item--content--tools--i:nth-child(16):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*Code*/
.skills__item--content--tools--i:nth-child(17):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*Responsive*/
.skills__item--content--tools--i:nth-child(18):before {
	background-image: url('../images/icons/rating/star-5.svg');
}

/*PrestaShop*/
.skills__item--content--tools--i:nth-child(19):before {
	background-image: url('../images/icons/rating/star-3.svg');
}

/*Bootstrap*/
.skills__item--content--tools--i:nth-child(20):before {
	background-image: url('../images/icons/rating/star-5.svg');
}

/*Vuetify*/
.skills__item--content--tools--i:nth-child(21):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*Nuxt*/
.skills__item--content--tools--i:nth-child(22):before {
	background-image: url('../images/icons/rating/star-4.svg');
}

/*Primevue*/
.skills__item--content--tools--i:nth-child(23):before {
	background-image: url('../images/icons/rating/star-5.svg');
}

/*Shopify App*/
.skills__item--content--tools--i:nth-child(24):before {
	background-image: url('../images/icons/rating/star-3.svg');
}

.skills__item--content--tools--i--icon {
	width: 45px;
	height: 45px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: filter 150ms ease-in-out;
}

.skills__item--content--tools--i--icon.html5 {
	background-image: url('../images/icons/skills/html5.svg');
}

.skills__item--content--tools--i--icon.css3 {
	background-image: url('../images/icons/skills/css3.svg');
}

.skills__item--content--tools--i--icon.sass {
	background-image: url('../images/icons/skills/sass.svg');
}

.skills__item--content--tools--i--icon.js {
	background-image: url('../images/icons/skills/js.svg');
}

.skills__item--content--tools--i--icon.nodejs {
	background-image: url('../images/icons/skills/nodejs.svg');
}

.skills__item--content--tools--i--icon.gulp {
	background-image: url('../images/icons/skills/gulp.svg');
}

.skills__item--content--tools--i--icon.webpack {
	background-image: url('../images/icons/skills/webpack.svg');
}

.skills__item--content--tools--i--icon.php {
	background-image: url('../images/icons/skills/php.svg');
}

.skills__item--content--tools--i--icon.mysql {
	background-image: url('../images/icons/skills/mysql.svg');
}

.skills__item--content--tools--i--icon.laravel {
	background-image: url('../images/icons/skills/laravel.svg');
}

.skills__item--content--tools--i--icon.firebase {
	background-image: url('../images/icons/skills/firebase.svg');
}

.skills__item--content--tools--i--icon.vuejs {
	background-image: url('../images/icons/skills/vuejs.svg');
}

.skills__item--content--tools--i--icon.pug {
	background-image: url('../images/icons/skills/pug.svg');
}

.skills__item--content--tools--i--icon.pwa {
	background-image: url('../images/icons/skills/pwa.svg');
}

.skills__item--content--tools--i--icon.git {
	background-image: url('../images/icons/skills/git.svg');
}

.skills__item--content--tools--i--icon.api {
	background-image: url('../images/icons/skills/api.svg');
}

.skills__item--content--tools--i--icon.code {
	background-image: url('../images/icons/skills/code.svg');
}

.skills__item--content--tools--i--icon.responsive-design {
	background-image: url('../images/icons/skills/responsive-design.svg');
}

.skills__item--content--tools--i--icon.prestashop {
	background-image: url('../images/icons/skills/prestashop.svg');
}

.skills__item--content--tools--i--icon.bootstrap {
	background-image: url('../images/icons/skills/bootstrap.svg');
}

.skills__item--content--tools--i--icon.vuetify {
	background-image: url('../images/icons/skills/vuetify.svg');
}

.skills__item--content--tools--i--icon.nuxt {
	background-image: url('../images/icons/skills/nuxt.svg');
}

.skills__item--content--tools--i--icon.primevue {
	background-image: url('../images/icons/skills/primevue.svg');
}

.skills__item--content--tools--i--icon.shopify {
	background-image: url('../images/icons/skills/shopify.svg');
}

.skills__item--content--tools--i--icon:hover {
	filter: invert(43%) sepia(50%) saturate(739%) hue-rotate(331deg) brightness(89%) contrast(85%);
}

.skills__item--content--list {
	padding: 0;
	font-size: 1em;
	font-weight: var(--font-light);
	list-style-type: none;
	color: var(--text-color);
}

.skills__item--content--list--li:before {
	display: inline-block;
	width: 10px;
	height: 14px;
	content: '';
	padding-right: 15px;
	background-image: url('../images/icons/addition/check-mark.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: filter 400ms ease-in;
}

.skills__item--content--list--li:hover.skills__item--content--list--li:before {
	filter: invert(43%) sepia(50%) saturate(739%) hue-rotate(331deg) brightness(89%) contrast(85%);
}

/*Projects*/
.projects {
	position: relative;
	min-height: unset;
	overflow: hidden;
	transition: height 400ms ease-in-out;
}

.projects__open {
	height: auto;
}

.projects__item {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
	grid-column-gap: 10px;
	grid-row-gap: 20px;
}

.projects__btncontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 105px;
	background-color: white;
}

.projects__btncontainer--open {
	position: unset;
}

.projects__btncontainer--btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	margin: 0 auto;
	border: 1px solid var(--bg-primary);
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: var(--bg-primary);
	-webkit-tap-highlight-color: transparent;
	transition: box-shadow 400ms ease-in-out;
}

.projects__btncontainer--btn:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.projects__btncontainer--btn:active {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: var(--bg-primary);
	border: 1px solid var(--bg-primary);
}

.projects__item--img {
	justify-self: center;
	width: 90%;
	box-shadow: -3px 3px 10px 3px #ddd;
	background-repeat: repeat;
	background-size: cover;
	background-position: top;
}

.projects__item--img:nth-child(1) {
	background-image: url('../images/main-projects/trivial.webp');
}

.projects__item--img:nth-child(2) {
	background-image: url('../images/main-projects/trendseam.webp');
}

.projects__item--img:nth-child(3) {
	background-image: url('../images/main-projects/tsd.webp');
}

.projects__item--img:nth-child(4) {
	background-image: url('../images/main-projects/niota.webp');
}

.projects__item--img:nth-child(5) {
	background-image: url('../images/main-projects/examiz.webp');
}

.projects__item--img:nth-child(6) {
	background-image: url('../images/main-projects/thefruitsofthevillage.webp');
}

.projects__item--img:nth-child(7) {
	background-image: url('../images/main-projects/betting-panel.webp');
}

.projects__item--img:nth-child(8) {
	background-image: url('../images/main-projects/prettyballerinas.webp');
}

.projects__item--img--overlay {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	opacity: 0;
	background-color: rgba(0, 0, 0, .7);
	transition: opacity 200ms ease-in;
}

.projects__item--img--overlay--text {
	font-size: 2em;
	font-weight: var(--font-light);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: var(--white-color);
	transition: color 200ms ease-in-out;
}

.projects__item--img--overlay--text:hover {
	color: var(--bg-primary);
}

.projects__item--img:hover .projects__item--img--overlay {
	opacity: 1;
	animation: flipInX 800ms;
}

.projects__item--img--overlay--info {
	position: absolute;
	top: 80%;
	left: 93%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	background-image: url('../images/icons/addition/info.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform 200ms ease-in-out;
	-webkit-tap-highlight-color: transparent;
	animation: pulse-white 1s linear 2s infinite;
}

.projects__item--img--overlay--info:hover {
	transform: scale(1.05);
}

.projects__item--img--overlay--info:focus, .projects__item--img--overlay--info:focus-within,
.projects__item--img--overlay--info:active, .projects__item--img--overlay--info:visited {
	outline: none;
	background-color: transparent;
}

.projects__item--text {
	width: 100%;
	margin: 3vh auto;
}

/*Interests*/
.interests__item {
	flex-wrap: wrap;
}

.interests__item--text {
	margin-bottom: 20px;
}

/*Contact*/
.contact__item--form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: auto;
	margin: 15vh auto;
}

.contact__item--form--input {
	width: 49%;
	padding: 1%;
	font-size: 1.2em;
	border: none;
	border-bottom: 2px solid var(--text-color);
	transition: all 300ms ease-in-out;
	color: var(--text-color);
}

.contact__item--form--input:focus {
	outline: none;
	border-color: var(--bg-primary);
}

.contact__item--form--input:focus::placeholder {
	font-size: 0.8em;
}

.contact__item--form--textlabel {
	opacity: 0;
}

.contact__item--form--text {
	width: 100%;
	margin: 25px auto;
	padding: 1%;
	border: none;
	border-bottom: 2px solid var(--text-color);
	resize: none;
	font-size: 1.2em;
	color: var(--text-color);
}

.contact__item--form--text:focus {
	outline: none;
	border-color: var(--bg-primary);
}

.contact__item--form--text:focus::placeholder {
	font-size: 0.8em;
}

/*Input error class*/
.input__error, .input__error:focus {
	border-bottom-color: var(--error-red);
}

.contact__item--form--button {
	width: 25%;
	height: 50px;
	margin: 0 auto;
	border-style: none;
	font-size: 1.2em;
	text-transform: uppercase;
	background-image: url('../images/icons/addition/glint.svg');
	background-size: contain;
	background-position: -200px center;
	background-repeat: no-repeat;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	cursor: pointer;
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
	background-color: var(--bg-primary);
	color: var(--white-color);
}

.contact__item--form--button:hover {
	transform: scale(1.05);
	background-position: -50px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contact__item--form--button:active {
	transform: scale(1);
	background-position: 500px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contact__item--form--button:focus {
	outline: none;
}

/*Footer*/
.grid__footer {
	grid-column: 2 / 2;
	grid-row: 3 / 3;
	width: 100%;
	height: auto;
	font-size: 0.9em;
	color: var(--white-color);
	text-align: center;
	background-color: var(--header-color);
}

.grid__footer--link {
	position: relative;
	top: -35px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 35px;
	margin: 0 auto;
	font-size: 2em;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	text-decoration: none;
	color: var(--white-color);
	background-color: var(--bg-primary);
}

.grid__footer--link--icon {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url('../images/icons/addition/caret-up.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.grid__footer--link:hover > .grid__footer--link--icon {
	animation: bounce 2s infinite;
}

.grid__footer--link--download {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 200px;
	margin: 15px auto;
	font-style: italic;
	text-decoration: none;
	color: var(--white-color);
	transition: color 300ms ease-in-out;
}

.grid__footer--link--download:hover {
	color: var(--bg-primary);
	text-decoration: underline;
}

.grid__footer--link--download--icon.pdf {
	width: 14px;
	height: 17px;
}

/*Info Modal section*/
.infomodal {
	opacity: 0;
	position: fixed;
	z-index: -10;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	-webkit-backdrop-filter: blur(5px);
  	backdrop-filter: blur(5px);
  	background-color: rgba(0, 0, 0, .5);
	transition: opacity 200ms ease-in-out;
}

.open {
	opacity: 1;
	z-index: 10;
}

.infomodal__card {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	height: 550px;
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, .5);
	background-color: #FFFFFF;
}

.infomodal__close {
	position: absolute;
	top: 10px;
	left: 97%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: transform 200ms ease-in-out;
	-webkit-tap-highlight-color: transparent;
}

.infomodal__close:hover {
	background-color: transparent;
	transform: rotate(90deg);
}

.infomodal__close:focus, .infomodal__close:focus-within, .infomodal__close:active, .infomodal__close:visited {
	outline: none;
	background-color: transparent;
}

.infomodal__card--img {
	width: 50%;
	height: 100%;
	object-fit: cover;
}

.infomodal__card--img.img-contain {
	object-fit: contain;
}

.infomodal__card--content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	width: 50%;
	height: 100%;
	padding: 25px;
	color: var(--white-color);
	background-color: var(--icon-color);
}

.infomodal__card--content--title {
	height: 90px;
  	font-size: 4.5em;
	line-height: 1
}

.infomodal__card--content--title, .infomodal__card--content--subtitle {
	width: 100%;
	padding: 10px 0;
	font-family: 'Saira Extra Condensed', sans-serif, Arial;
	letter-spacing: 2px;
	text-align: center;
}

.infomodal__card--content--subtitle {
  font-size: 1.2em;
}

.infomodal__card--content--textbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	height: 200px;
}

.infomodal__card--content--textbox, .infomodal__card--content--textbox--text {
	width: 100%;
}

.infomodal__card--content--textbox--text {
	margin: 10px 0;
}

/*Animation Section*/

/*Animation for Heading text fade out*/
@keyframes animateText {
	0% {
		opacity: 0;
	}

	50% {
		text-shadow: 1px 0px 15px rgba(150, 150, 150, 1);
	}

	100% {
		text-shadow: none;
		opacity: 1;
	}
}

/*Animation for two sliding overlay on the heading text*/
@keyframes showText {
	0% {
		width: 0;
		left: 0;
		transform: translateX(0%);
	}

	50% {
		width: 100%;
		transform: translateX(85%);
	}

	100% {
		transform: translateX(100%);
	}
}

/*Animation for showing overlay in project section*/
@-webkit-keyframes flipInX {
	from {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	to {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}


/*Bouncing up animation*/
@keyframes bounce {

    10% { transform: scale(1.1, .8) translateY(5%) }

    15% { transform: scale(.9, 1.1) translateY(-40%) }

    25% { transform: scale(1.05, .9) translateY(-60%) }

    30% { transform: scale(1) translateY(-40%) }

    40% { transform: scale(1.05, 1) translateY(0) }

    41% { transform: scale(1.1, .9) }

    50% { transform: translateY(-15%) }

    60% { transform: translateY(0) }
}

/*White pulse*/
@keyframes pulse-white {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		box-shadow: 0 0 0 5px rgba(255, 255, 255, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

/*Media query for responsive designe*/
@media only screen and (max-width: 768px), (max-width: 425px), (max-width: 375px), (max-width: 320px) {

	/*Hide scrollbar on mobile devices*/
	body::-webkit-scrollbar {
		display: none;
	}

	html, body {
		width: 100vw;
	}

	/*Grid Wrapper*/
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}

	/*Header*/
	.grid__header {
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 80px;
		grid-column: span 2;
		grid-row: 1;
		padding: 0;
		min-height: auto;
		box-shadow: 0 0 10px #000;
	}

	/*Header image*/
	.grid__header--nav--imagelink {
		display: none;
	}

	/*Navigation*/
	.grid__header--nav--item--mobile {
		display: flex;
	}

	.grid__header--nav {
		display: none;
		grid-row: span 2;
		flex-wrap: wrap;
		min-height: 70vh;
		max-height: 70vh;
		transform: translateY(11px);
		background-color: rgb(189,93,56, .95);
	}

	/*Main Content*/
	.grid__content {
		grid-column: span 2;
		grid-row: 2;
	}

	/*Resume section*/
	.resume__section {
		padding-top: 90px;
	}

	/*About Section*/
	.about__title--animation {
		display: block;
		width: 100%;
		text-align: center;
	}

	.about__heading {
		font-size: 2.8em;
		text-align: center;
	}

	.about__address {
		font-size: 1.05em;
		text-align: center;
	}

	.about__subheading {
		text-align: justify;
	}

	.about__social {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.about__social--link {
		margin-bottom: 10px;
	}

	/*Expericence, Education*/
	.experience__item, .education__item {
		flex-wrap: wrap;
	}

	.experience__item--content, .experience__item--date, .education__item--content, .education__item--date {
		width: 100%;
	}

	.experience__item--date, .education__item--date {
		height: auto;
		margin-top: 5px;
		text-align: left;
	}

	.experience__item--date {
		display: block;
	}

	/*Skils*/
	.skills__item--content--tools {
		justify-content: space-evenly;
	}

	.skills__item--content--tools--i {
		margin-bottom: 25px;
	}

	/*Projects*/
	.projects__item--img {
		width: 100%;
	}

	.projects__item--img--overlay--info {
		left: 86%;
	}

	/*Contact*/
	.contact__item--form {
		flex-wrap: wrap;
		width: 100%;
		margin: 0 auto;
	}

	.contact__item--form--input {
		width: 100%;
	}

	.contact__item--form--input:first-child {
		margin-bottom: 25px;
	}

	.contact__item--form--button {
		width: 100%;
	}

	/*Footer*/
	.grid__footer {
		grid-column: span 2;
	}

	/* Info modal */

	.infomodal__card {
		width: 95%;
		height: 89%;
		margin-top: 11%;
		overflow-y: scroll;
	}

	.infomodal__close {
		left: 10px;
	}

	.infomodal__card--img, .infomodal__card--content {
    width: 100%;
	}

	.infomodal__card--img {
    height: 40%;
	}

	.infomodal__card--content {
		min-height: 600px;
    height: 60%;
		padding: 0 10px 10px 10px;
	}

	.infomodal__card--content--title {
		font-size: 3em;
	}

	.infomodal__card--content--textbox {
		height: auto;
	}
}

@media only screen and (max-width: 768px) {

	.grid__header--nav--item--mobile {
		margin: 2% 3% 0 0;
	}

	/*.infomodal__card--img {
		height: 40%;
	}

	.infomodal__card--content {
		height: 60%;
		padding: 25px;
	}

	.infomodal__card--content--title, .infomodal__card--content--subtitle {
		width: 100%;
		text-align: center;
	}

	.infomodal__card--content--title {
		font-size: 5em;
	}

	.infomodal__card--content--text {
		font-size: 1.1em;
	}

	.infomodal__card--content--subtitle {
		font-size: 1.5em;
	}*/
}
