@media screen and (max-width: 1024px) {
	main {
		width: auto;
		max-width: unset;
	}

	.pwa__toast {
		position: unset;
		margin-block: .25rem;
	}

	.modal {
		width: 100%;
	}

	.contact {
		padding-inline: 1rem;

		& .contact__info {
			width: 100%;
		}
	}
}

@media screen and (max-width: 768px) {
	main {
		border: unset;
	}

	.header {
		padding: 1rem;

		.header__nav {
			max-width: 70%;
		}
	}
	
	.intro, .about, .skills, .experience, .projects, .contact {
		padding-block: 3rem;
		padding-inline: 1rem;
	}

	.intro {
		grid-template-columns: 1fr;

		& .intro__content {
			place-self: center;
			text-align: center;
		}

		& .intro__image-social {
			grid-column: 1;

        	& .intro__image {
        		display: none;
        	}

        	& .intro__social {
        		position: unset;
        		flex-direction: row;
        		justify-content: center;
        		margin-top: 2rem;

        		&::before {
        			display: none;
        		}
        	}
    	}
	}

	.about {
		text-align: center;

		& .about__content {
			& p:nth-child(2) {
				&::before {
					display: none;
				}
			}

			& .about__text {
				padding-left: unset;
			}
		}
	}

	.skills {
		& .skills__list {
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;
		}
	}

	.experience {
		padding-block: 6rem;
		padding-inline: 1rem;

		& .experience__title {
			left: calc(50% - 8rem);
		}

		& .experience__list {
			width: 100%;
			padding-left: .5rem;

			& .experience__item {
				& .experience__time {
					position: unset;
					padding-block: .3rem;

					&:before {
						top: -5px;
						left: 18px;
						right: unset;
						border-left: unset;
						border-right: 14px solid #5D5E61;
					}
				}

				& .experience__role {
					margin-top: .5rem;
				}
			}
		}
	}

	.projects {
		padding-bottom: 6rem;

		& .projects__gallery {
			& .projects__item {
				width: 100%;
			}
		}
	}

	.footer {
		& .footer__link {
			left: 89%;
		}
	}

	.modal {
		& .modal__wrapper {
			flex-direction: column;

			& .modal__image {
				width: 100%;
			}

			& .modal__content {
				width: 100%;
				padding-inline: .5rem;
			}
		}
	}
}

/* Large mobile phones  */
@media screen and (max-width: 435px) {
	.header {
		background-color: var(--primary);
		box-shadow: 0 -6px 6px 0 rgba(49,51,59,1);
		backdrop-filter: unset;

		.header__menu-toggle {
			display: flex;
		}

		& .header__nav {
			display: none;
			position: absolute;
			top: -25rem;
			left: 0;
			z-index: 1;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
			width: 100%;
			max-width: unset;
			height: 30rem;
			padding-block: 1rem;
			opacity: 0;
			background-color: rgba(49, 51, 59, .7);
			backdrop-filter: blur(10px);
			transition-property: display, opacity, top;
			transition-duration: 800ms;
			transition-behavior: allow-discrete;

			@starting-style {
				opacity: 0;
				top: -25rem;
			}

			&[aria-hidden=false] {
				display: flex;
				opacity: 1;
				top: -1.4rem;
			}

			& .header__link {
				font-size: 1.5rem;
				color: var(--white);
			}
		}
	}

	.intro {
		& .intro__content {
			& .intro__headline {
				& .intro__headline--separator {
					display: none;
				}
			}

			& .intro__link {
				width: 100%;
			}
		}
	}

	.skills {
		padding-bottom: 6rem;
		background-position: 100% 100%;

		& .skills__list {
			grid-template-columns: repeat(2, 1fr);

			& .skills__item {
				width: 100%;
				height: unset;
				aspect-ratio: 1;
			}

			& .skills__item--hidden {
				display: none;
				opacity: 0;
			}
		}

		& .skills__button {
			display: block;
		}

		& .skills__button--hidden {
			display: none;
			opacity: 0;
		}
	}

	.projects {
		background-position: 0rem 5rem;

		.projects__gallery {
			grid-template-columns: repeat(2, 1fr);
			gap: .5rem;
		}
	}

	.contact {
		& .contact__title {
			padding-inline: 1rem;
			font-size: 2.9rem;
		}

		& .contact__info {
			width: 100%;

			& .contact__link {
				flex-direction: column;
				width: 100%;
				gap: .5rem;
				text-align: center;
			}
		}
	}
}