@layer social {
	.social__links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		& .social__link {
			display: inline-block;
			width: 2rem;
			height: 2rem;

			& .social__icon {
				display: inline-block;
				width: 2rem;
				height: 2rem;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				transition: all 400ms ease-in-out;

				&.social__icon--linkedin {
					background-image: url('../images/icons/social-media/linkedin.svg');
				}

				&.social__icon--gmail {
					background-image: url('../images/icons/social-media/envelope.svg');
				}

				&.social__icon--github {
					background-image: url('../images/icons/social-media/github.svg');
				}

				&.social__icon--x {
					background-image: url('../images/icons/social-media/x.svg');
				}
			}
		}
	}
}